body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(180deg, #050b2e, #000);
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
}

.buttons button {
  padding: 10px 22px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: #555;
  color: white;
}

/* LETTER */
.hidden {
  display: none;
}

.letter-box {
  background: rgba(0,0,0,0.6);
  padding: 25px;
  border-radius: 15px;
  width: 300px;
  font-style: italic;
  animation: fadeUp 1s ease;
}

@keyframes fadeUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* LOVE RAIN */
.heart {
  position: fixed;
  top: -10px;
  color: pink;
  font-size: 20px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}
